<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @plans.each do |plan| %>
    <div class="content_post">
      <p><%= plan.date %></p>
      <p><%= plan.plan %></p>
    </div>
    <%= link_to '削除', plan_path(plan.id), method: :delete %>
  <% end %>
</div>


